* {
	box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 1.25em;
    height: 100vh;
    display: flex;
    justify-content: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;

}

header {
    text-align: center;
}

h1 {
	font-size: 1.25rem;
	font-weight: 500;
	color: #F9F4DA;
}

header > p {
	color: #8E8E8E;
	font-size: 0.875rem;
	max-width: 350px;
}

.game-status {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #10A95B;
	color: #F9F4DA;
	border-radius: 4px;
	margin-block: 2em;
	width: 350px;
}

h2 {
	font-size: 1.25rem;
	margin: 0.25em;
}

p {
	margin: 0.25em;
}

.language-chips {
	display: flex;
	flex-wrap: wrap;
	gap: 0.4rem;
	justify-content: center;
	max-width: 350px;
	margin-bottom: 2.2rem;
}

.chip {
	padding: 0.25em;
	border-radius: 3px;
}

.word {
	display: flex;
	justify-content: center;
	gap: 0.3em;
	margin-bottom: 2.5rem;
}

.letter, .key {
	display: flex;
	justify-content: center;
	align-items: center;
}

.letter {
	height: 40px;
	width: 40px;
	font-size: 1.3rem;
	gap: 0.3em;
	background-color: #323232;
	border-bottom: 2px solid #F9F4DA;
	color: #F9F4DA;
}

.keyboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5em;
	max-width: 450px;
	margin-bottom: 2.2rem;
}

.key {
	height: 40px;
	width: 40px;
	border: 1px solid #D7D7D7;
	background-color: #FCBA29;
	color: #1E1E1E;
	font-size: 1.4rem;
	font-weight: 550;
	border-radius: 4px;
	cursor: pointer;
}

.redKey {
	background-color:#EC5D49;
}

.greenKey {
	background-color:#10A95B;
}

.new-game-btn {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
	font-size: 1.2rem;
	font-weight: 500;
}